<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.common.dao.UserMapper">

    <resultMap type="com.example.common.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tem.user(username, sex, birthday, address, password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.sex}, #{entity.birthday}, #{entity.address}, #{entity.password})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tem.user(username, sex, birthday, address, password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.sex}, #{entity.birthday}, #{entity.address}, #{entity.password})
        </foreach>
        on duplicate key update
        username = values(username) , sex = values(sex) , birthday = values(birthday) , address = values(address) ,
        password = values(password)
    </insert>

</mapper>

